body {
	font:20px Arial,sans-serif;
}
.navbar {
	background-color: #848484;
}
.quem-somos{
	background-color: blue;
	color: white;
}
.margin{
	 padding-bottom:50px;
}
.parceiros{
	background-color: #04B4AE;
}
.bg-footer{
	background-color: black;
	color: white;
}